<%= form_with(model: @recipe) do |form| %>
  <%= render 'shared/error_messages', object: form.object %>
  <p>Helper.  If you don't see the wysiwyg editor, highlight your url above and hit enter.
     Do not refresh, this causes weird behavior with the editor</p>
  <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, class: 'form-control' %>
      
      <%= form.label :content, "Content" %>
      <%= form.text_area :content, class: "tinymce", rows: 40, cols: 120 %>
      <%= tinymce %>

      <%= form.label :category %>
      <% if @categories.present? %>
          <%= form.select :category, options_for_select(@categories.map { 
            |category| [category['category'], category['category']] }, @recipe.category), 
            {}, class: 'form-control' %>
      <% else %>
        <p>No categories found</p>
      <% end %>
  </div>
  <%= form.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>